-var dependenciesRoutes = "./../lib/";
-var services = "./../components/services/";
-var appName = "AgendaAmigos";

doctype html
html(lang="es" ng-app=appName)
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Agenda Amigos
        //- Hojas de estilos
        link(rel="stylesheet", href= dependenciesRoutes + "bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href= dependenciesRoutes + "font-awesome/css/font-awesome.min.css")
        link(rel="stylesheet", href="./styles/general.style.css")

    body
        #content(ui-view)  

        //- Angular JS
        script(src= dependenciesRoutes + "angular/angular.min.js")

        //- Dependencies
        script(src= dependenciesRoutes + "jquery/dist/jquery.min.js")
        script(src= dependenciesRoutes + "bootstrap/dist/js/bootstrap.min.js")
        script(src= dependenciesRoutes + "angular-ui-router/release/angular-ui-router.min.js")
        script(src= dependenciesRoutes + "angular-css/angular-css.min.js")
        script(src= dependenciesRoutes + "oclazyload/dist/ocLazyLoad.min.js")

        //- Scripts de la aplicación
        script(src="./../app.js")
        script(src="./../route.js")

        //- Servicios de la aplicación
        script(src= services + "user.service.js")
        script(src= services + "pet.service.js")